@tailwind base;

@layer base {
  table {
    @apply w-full min-w-max;
  }

  thead {
    @apply border-b-2 border-black;
  }

  th:first-child, td:first-child {
    @apply text-left;
  }

  th {
    @apply text-right;
  }

  tr {
    @apply border-b border-gray-200;
  }

  td {
    @apply px-3 text-right;
  }

  tbody tr:hover {
    @apply bg-gray-200;
  }

  button {
    @apply rounded bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4;
  }
}

@tailwind components;

@layer components {
  .alert {
    @apply p-2 mb-2 border-2 rounded;
  }

  .alert:empty {
    @apply hidden;
  }

  .alert-info {
    @apply text-[#31708f] bg-[#d9edf7] border-[#bce8f1];
  }

  .alert-warning {
    @apply text-[#8a6d3b] bg-[#fcf8e3] border-[#faebcc];
  }

  .alert-error {
    @apply text-[#a94442] bg-[#f3dede] border-[#ebccd1];
  }
}

@tailwind utilities;

/* Alerts and form errors used by phx.new */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
